_____________PROBLEM_3____________

In [8]:
a=[1,5,3,3,8,0]
a[0] = 10
print('1 : ',a)#1

a.append(20)
print('2 : ',a)#2

a.sort()
print('3 : ',a)#3

a.append([2,7,5])
print('4 : ',a)#4

a.reverse()
print('5 : ',a)#5

a.remove(10)
print('6 : ',a)#6

b= [2,7,5]
a.extend(b)
print('7 : ',a)#7

c=a.count(5)
print('8 : ',c)#8

d=a.pop(3)
print('9 : ',d)#9

e=a.copy()
print('10 : ',e)#10

f=a.clear()
print('11 :',a)#11

1 :  [10, 5, 3, 3, 8, 0]
2 :  [10, 5, 3, 3, 8, 0, 20]
3 :  [0, 3, 3, 5, 8, 10, 20]
4 :  [0, 3, 3, 5, 8, 10, 20, [2, 7, 5]]
5 :  [[2, 7, 5], 20, 10, 8, 5, 3, 3, 0]
6 :  [[2, 7, 5], 20, 8, 5, 3, 3, 0]
7 :  [[2, 7, 5], 20, 8, 5, 3, 3, 0, 2, 7, 5]
8 :  2
9 :  5
10 :  [[2, 7, 5], 20, 8, 3, 3, 0, 2, 7, 5]
11 : []

______________________________________________________________________________________________________________________

In [30]:
a=(1,5,3,3,8,0)
print('1 : ',a)#1

b=a.count(5)
print('2 : ',b)#2

i = a.index(3)
print('3 : ', i)#3

l = len(a)
print('4 : ',l) #4

s = a[2:5]  
print('5 :', s)#5

s_t = tuple(sorted(a))#6
print('6 :', s_t) 

m,n,o,p,q,r = a
print('7 : ', m,n,o,p,q,r)#7

new = (11,22,33,44)
add = a + new
print('8 : ',add)#8

multi = a * 3
print('9 : ', multi) #9

1 :  (1, 5, 3, 3, 8, 0)
2 :  1
3 :  2
4 :  6
5 : (3, 3, 8)
6 : (0, 1, 3, 3, 5, 8)
7 :  1 5 3 3 8 0
8 :  (1, 5, 3, 3, 8, 0, 11, 22, 33, 44)
9 :  (1, 5, 3, 3, 8, 0, 1, 5, 3, 3, 8, 0, 1, 5, 3, 3, 8, 0)

____________________________________________________________________________________________________________________________

In [45]:
a= {'a':1,'b':2,'c':3}
print('1 : ',a)#1

b = len(a)
print('2 : ',b)#2

c= a.keys()
print('3 : ',c)#3

d = a.values()
print('4 : ',d)#4

e = a.items()
print('5 : ',e)#5

f = a.get('a')
print('6 : ',f)#6

g = a.pop('b')
print('7 : ',g,'\n',a)#7

h = a.popitem()
print('8 : ',h)#8

i = {'c':5 , 'd':6 , 'e':7}
a.update(i)
print('9 : ',a)#9

a.clear()
print('10 : ',a)#10

1 :  {'a': 1, 'b': 2, 'c': 3}
2 :  3
3 :  dict_keys(['a', 'b', 'c'])
4 :  dict_values([1, 2, 3])
5 :  dict_items([('a', 1), ('b', 2), ('c', 3)])
6 :  1
7 :  2
 {'a': 1, 'c': 3}
8 :  ('c', 3)
9 :  {'a': 1, 'c': 5, 'd': 6, 'e': 7}
10 :  {}

________________________________________________________________________________________________________________________

In [2]:
l1 =[("abc", 2),("xyz", 3),("pqr", 1)]
for i in l1:
    print("name: ",i[0]," id: ",i[1])

Total price: $ 27

_______________________________________________________________________________________________________________________________________________________

In [32]:
l2= (['a', 'b'], ['radhe','krishna'], [1, 2, 3])
print('The listed data with in a tuple : ')
for i in range(0,len(l2)):
    print(l2[i])  

print('Adding data with in a first list of tuple :')
l2[0].append('z')
print(l2[0])  

print('Adding the last list data to a first list of tuple :')
l2[0].extend(l2[2])
print('Using extend :  ',l2[0])
l2[0].append(new[2])
print('Using append :  ',l2[0])

The listed data with in a tuple :
['a', 'b']
['radhe', 'krishna']
[1, 2, 3]
Adding data with in a first list of tuple :
['a', 'b', 'z']
Adding the last list data to a first list of tuple :
Using extend :   ['a', 'b', 'z', 1, 2, 3]
Using append :   ['a', 'b', 'z', 1, 2, 3, [1, 2, 3]]

________________________________________________________________________________________________________________________________________________________

In [4]:
items = [("Copy", 10), ("Pen", 5), ("Color", 12)]
print('items : ',items)
print('\nAdding all the prices : ')
total = 0
for name, price in items:
    total += price
print("Total price: $",total)

items :  [('Copy', 10), ('Pen', 5), ('Color', 12)]

Adding all the prices :
Total price: $ 27

________________________________________________________________________________________________________________________________________________________

In [39]:
details = {'hindi': (90, 'excellent','pass'),'english': (65, 'good','pass'),'maths': (20, 'work hard','fail')}

print(details['hindi'])
print(details['english'])
print(details['maths'])

print('Calling all last value of a value from every key : ')
print(details['hindi'][2]) 
print(details['english'][2])
print(details['maths'][2])

(90, 'excellent', 'pass')
(65, 'good', 'pass')
(20, 'work hard', 'fail')
Calling all last value of a value from every key :
pass
pass
fail

________________________________________________________________________________________________________________________________________________________

In [55]:

d = {'first': [1, 2, 3],'second': ['a', 'b', 'c'],'third': []}
print('the initial :- \n ',d)
print('\nappending and extending the first and second keys values :- ')
d['first'].append(4)
d['second'].extend(['d', 'e'])

print('the values :- ')
print(d['first'])  
print(d['second'])  
print(d['third'])  

print('\nadding values in last key :-')
d['third'].append('abc')
print(d['third'])

print('\nthe key and value :-')
for i, j in d.items():
    print( i,': ',j)

the initial :-
  {'first': [1, 2, 3], 'second': ['a', 'b', 'c'], 'third': []}

appending and extending the first and second keys values :-
the values :-
[1, 2, 3, 4]
['a', 'b', 'c', 'd', 'e']
[]

adding values in last key :-
['abc']

the key and value :-
first :  [1, 2, 3, 4]
second :  ['a', 'b', 'c', 'd', 'e']
third :  ['abc']

____________________________________________________________________________________________________________________________

In [1]:
students = [("ram", 1),("laksh", 2),("siya", 3)]

print("List of Students:")
for student in students:
    name,rank = student
    print("Name: ",name, "Rank: ",rank)

print("\nAdding a new student to the list")
new = ("Pawan", 4)
students.append(new)
print(new)

print("\n new Rank_Holder students data :")
for student in students:
    name, rank = student
    print("Name: ",name,"Rank: ",rank)

List of Students:
Name:  ram Rank:  1
Name:  laksh Rank:  2
Name:  siya Rank:  3

Adding a new student to the list
('Pawan', 4)

 new Rank_Holder students data :
Name:  ram Rank:  1
Name:  laksh Rank:  2
Name:  siya Rank:  3
Name:  Pawan Rank:  4

_____________________________________________________________________________________________________________________________

In [107]:

print("Course highest_grades Details:\n")

course = {"Hindi": [],"English": [],"Maths": []}
print('name of courses : \n',course.keys())

students = [("amit","A1"),("ajay","A2"),("nitin", "A3"),("vishal","A4"),("rohit","A5")]
print('\nStundents and their enrollment_ID :')
for i in students :
    print(i)


course["English"].append(("amit", "A1", 85))
course["English"].append(("ajay", "A2", 75))
course["Hindi"].append(("amit", "A1", 90))
course["Hindi"].append(("nitin", "A3", 85))
course["Hindi"].append(("ajay", "A2", 80))
course["Maths"].append(("vishal", "A4", 88))
course["Maths"].append(("rohit", "A5", 92))



for course, grades in course.items():
    print('\nAdding the students name & id ,who scored highest grades in the subject:  ')
    print(course )
    for student in grades:
        student_name, student_id, grade = student
        print('Name :',student_name ,'(',student_id,' ) Grade : ',grade)

Course highest_grades Details:

name of courses :
 dict_keys(['Hindi', 'English', 'Maths'])

Stundents and their enrollment_ID :
('amit', 'A1')
('ajay', 'A2')
('nitin', 'A3')
('vishal', 'A4')
('rohit', 'A5')

Adding the students name & id ,who scored highest grades in the subject:
Hindi
Name : amit ( A1  ) Grade :  90
Name : nitin ( A3  ) Grade :  85
Name : ajay ( A2  ) Grade :  80

Adding the students name & id ,who scored highest grades in the subject:
English
Name : amit ( A1  ) Grade :  85
Name : ajay ( A2  ) Grade :  75

Adding the students name & id ,who scored highest grades in the subject:
Maths
Name : vishal ( A4  ) Grade :  88
Name : rohit ( A5  ) Grade :  92